*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    margin: 24px;
    padding: 12px;
}

div{
    margin: 12px;
    padding: 12px;
    background-color: rgba(247, 151, 7, 0.5);
    width: max-content;
}

p{
    margin: 24px;
    padding: 12px;
    color: rgb(0, 0, 0);
    background-color: rgb(247, 151, 7);
    width: max-content;
    opacity: 0.4;
}
p:hover{
    opacity: 1;
}