        h2{
            color:aqua;
            background: #f1e0e0;
        }
        h3{
            color:aqua;
            background: #cdb6b6;
        }
        /* p{
            color:rgb(12, 227, 12);
            background: #e7e5f0ef;
        } */

        .para-section{
            color: red;
            
        }